[Desktop Entry]
Exec=/usr/libexec/start-ubuntu-unity-oem-env
Name=Ubuntu Unity OEM Environment
Comment=Starts the Ubuntu Unity OEM Environment
Type=Application
