[Desktop Entry]
Type=Application
Version=1.0
_Name=Install cinnamon-remix 20.04
_GenericName=Install cinnamon-remix
Exec=bash -c "export BROWSER='sudo -H -u cinnamon-remix firefox'; sudo -E calamares"
_Comment=Calamares — System Installer
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;system;
