[Desktop Entry]
Type=Application
Version=1.0
Name=Install cinnamon-remix 20.04
Name[ar]=تنصيب لوبينتو 20.04
Name[ca]=Instal·lar cinnamon-remix 20.04
Name[da]=Installer cinnamon-remix 20.04
Name[de]=cinnamon-remix 20.04 installieren
Name[es]=Instalar cinnamon-remix 20.04
Name[fr]=Installer cinnamon-remix 20.04
Name[it]=Installa cinnamon-remix 20.04
Name[no]=Installer cinnamon-remix 20.04
Name[pl]=Zainstaluj cinnamon-remix 20.04
Name[pt]=Instalar o cinnamon-remix 20.04
Name[pt_BR]=Instalar cinnamon-remix 20.04
GenericName=Install cinnamon-remix
GenericName[ar]=تنصيب لوبينتو
GenericName[ca]=Instal·lar cinnamon-remix
GenericName[da]=Installer cinnamon-remix
GenericName[de]=cinnamon-remix installieren
GenericName[es]=Instalar cinnamon-remix
GenericName[fr]=Installer cinnamon-remix
GenericName[it]=Installa cinnamon-remix
GenericName[no]=Installer cinnamon-remix
GenericName[pl]=Zainstaluj cinnamon-remix
GenericName[pt]=Instalar o cinnamon-remix
GenericName[pt_BR]=Instalar cinnamon-remix
Exec=bash -c "export BROWSER='sudo -H -u cinnamon-remix firefox'; sudo -E calamares"
Comment=Calamares — System Installer
Comment[ar]=الحبار — منصب النظام
Comment[ca]=Calamares — Instal·lador del Sistema
Comment[da]=Calamares - System installation
Comment[de]=Calamares — System Installer
Comment[es]=Calamares — Instalador del Sistema
Comment[fr]=Calamares  — Installateur de votre system
Comment[it]=Calamares — Installatore del Sistema
Comment[no]=Calamares — System installerer
Comment[pl]=Calamares — Instalator systemu
Comment[pt]=Calamares — Instalador do Sistema
Comment[pt_BR]=Calamares — Instalador do sistema
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;system;
