Source: calamares-core
Section: devel
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.6
Homepage: https://github.com/calamares/calamares
Vcs-Git: http://github.com/calamares/calamares-debian.git
Vcs-Browser: https://github.com/calamares/calamares-debian.git

Package: calamares-core
Architecture: all
Depends: calamares
Breaks: calamares-branding, calamares-core-settings
Replaces: calamares-branding, calamares-core-settings
Description: distribution-independent installer framework
 distribution-independent installer framework.
 .
 This package contains the calamares settings and branding for Netrunner Debian Core.
